/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --main-font-size: 18px;
    --main-font-family: "IBM Plex Sans", sans-serif;
    --font-family: "IBM Plex Mono", "monospace";
    --rec-dec-visibilities: visible;
  }
